* { margin:0; padding:0; } 
html, body { width:100%; height:100%; overflow-x: hidden; background-color: black;} 
canvas { display:block; }
.flower-box{
  color: white;
}
#poem{
  font-family: 'Playfair Display', serif;
  margin-top: 10vh;
  margin-bottom: 7%;
  text-align: center;
  color: white;
  background-color: none;
  font-size: 3vh;
}
#controls {
  margin: 20px;
  position: relative;
  top: 0; left: 0;
  color: white;
}